@import url("./reset.css");

*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;

  
}

body {
    width: 100%;
    height: 100%;
    font-family: "M PLUS Rounded 1c", sans-serif;
     background-color: #f9f7f3;
    overflow-x: hidden;
}
.sample-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 780px;
    position: relative;
    background-image: url(../img/Nooklit2.png);
    background-color: #f9f7f3;

  }

  .sample-header-section {
    position: relative;
    width: 100vw;
    height: 780px;
  }
  .sample-section-wrap {
    position: relative;
    background-color: white;
  }
  .sample-section {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
  }
  
.introduce{
    width: 95vw;
    height: 500px;
    background-color: #f9f7f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.introduce .part{
height: 70%;
flex-grow: 1;
flex-basis: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.introduce .part i{
    font-size: 7rem;
    display: inline-flex;
    flex-grow: 1;
    margin-top: 80px;
    }
.introduce .part h1{
font-size: 4rem;
display: inline-flex;
flex-grow: 1;
}
.introduce .part p{
font-size: 2rem;
display: inline-flex;
flex-grow: 1;
}

.wrapper{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    
    /* padding-bottom: 30px; */
    /* border: 1px solid red; */
}
.nav{  
    position: fixed;
    top: 100px;
    right: 0;
    background-color: rgba(77, 76, 76, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.5);
    height: 60px;
    width: 500px;
    z-index: 1000;
}


.nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
    gap: 60px;
}

.nav ul li{

}

.nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
    line-height: 60px;
}
#top{
    /* width:100%;
    height: 780px;
    position: relative;


    background-image: url(../img/Nooklit2.png);
    background-color: #f9f7f3; */
 

    

}


#top #Title {
    position: absolute;
    top: 31%;
    left: 15%;
}

#top #Title h1{
font-size: 11rem; 
margin-bottom: 50px;


}

#top #Title h3{

    font-size: 3.5rem;
    line-height: 1.7;

   }
   #top img{
    display: block;
    width: 500px;
    position: absolute;
    bottom: 0%;
    right: 0%;



   }





.area1{
    width: 100%;
    height: 240px;
    /* background-color: lightcoral; */
    background-color: #f9f7f3;
    position: relative;
border: 1px solid transparent;


}



.area1 h1{
margin-left: 100px;
margin-top: 80px;

font-size: 10rem;
}






   
/* ------------ */
#page1 .white{
       display: block;
       width: 480px;
       position: absolute;
       bottom: -5%;
       right: 0%;
       z-index: 1;
       box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.5);
   }

#page1{
    width: 95vw;
    height: 500px;
    background-color: #f9f2e5;
    border-radius: 30px;
    /* border-radius: 30px; */
    position: relative;
    margin-bottom: 200px;
}

#page1 h2{
    width: 540px;
    height: 100%;
    position: absolute;
    top: 80px;
    left: 90px;
    font-size: 4rem;
    line-height: 1.6;
}

#page1 h2 .hidden-text{
    /* display: inline-block; */
    opacity: 0;
    transform: translateX(-20px);
}

#page1 h3{
    position: absolute;
    font-size: 3rem;
    left: 170px;
    top: 380px;

}
.pen_1{
    position: absolute;
    left: 0;

}

#page2{
    width: 95vw;
    margin-top: 240px !important;
    margin: 0 auto;
    height: 500px;
    position: relative;
    z-index: 500; 
    background-color: #f9f2e5;
    margin-bottom: 200px;
  
}

#page2 .KAFKA{
    width: 500px;
    position: absolute;
    top: -153px;
    left: 0px;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.5);
}


.pen_1{
    position: absolute;
    width: 967px;
    top: 68px;
    right: -150px;
}


#page2 h2{
    width: 540px;
    height: 100%;
    position: absolute;
    top: 80px;
    right: 90px;
    font-size: 4.5rem;
    line-height: 1.6;
}
#page2 h2 .hidden-text{
    /* display: inline-block; */
    opacity: 0;
    transform: translateX(-20px);
}

#page2 h3{
    position: absolute;
    font-size: 3rem;
    right: 170px;
    top: 420px;

}


.pen_2{
    position: absolute;
    width: 1300px;
    top: 10px;
    left: -270px;
    transform: scaleX(-1);
}



/* ------------------------------ */


#page3{
    width: 95vw;
    margin: 0 auto;
    background-color: #f9f2e5;
    /* border-radius: 30px; */
    position: relative;
    border-radius: 30px;
    height: 500px;
    margin-bottom: 100px;
    margin-top: 240px !important;
}

#page3 h2{
    width: 540px;
    position: absolute;
    top: 80px;
    left: 90px;
    font-size: 4.5rem;
    line-height: 1.6;
}

#page3 h3{
    position: absolute;
    font-size: 3rem;
    left: 170px;
    top: 380px;
    line-height: 1.4;

}

#page3 .temple{
    width: 500px;
    position: absolute;
    top: -160px;
    right: 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.5);
}




.pen_3{
    position: absolute;
    width: 967px;
    top: 107px;
    left: -150px;
}
/* --------------------------- */

.area2{
    width: 100%;
    height: 150px;
    /* background-color: lightcoral; */
    background-color: #f9f7f3;
    position: relative;
border: 1px solid transparent;
margin-bottom: 30px;


}

.area2 .corner{
    position: absolute;
    top: 0;
    right: 0;  
    /* border-top: 10px solid black;
    border-left: 10px solid black; */
    width: 150px;
    height: 170px;
    z-index: 1000;


}

.area2 h1{

margin-top: 20px;

font-size: 10rem;
text-align: center;
}

.rank{
padding-bottom: 30px;

}

.rankType{

margin-bottom: 30px;
}

.rankType ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.rankType ul li{

}

.rankType ul li button{
    font-size: 6rem;
    border: 2px ;
    /* background-color: #f9f7f3; */
    background-color:transparent;
    border-radius: 30px;
    padding: 20px;
    font-weight: bold;
}

.rankType ul li:nth-child(1) button{
    border: 2px solid lightcoral;
    cursor: pointer;
    transition: 0.5s;
   
}
.rankType ul li:nth-child(1) button:hover{
    background-color: lightcoral;
    transform: translateY(-10px);
}
.rankType ul li:nth-child(2) button{
    border: 2px solid lightblue;
    cursor: pointer;
    transition: 0.5s;
}
.rankType ul li:nth-child(2) button:hover{
    background-color: lightblue;
    transform: translateY(-10px);
}
.rankType ul li:nth-child(3) button{
    border: 2px solid lightgreen;
    cursor: pointer;
    transition: 0.5s;
}
.rankType ul li:nth-child(3) button:hover{
    background-color: lightgreen;
    transform: translateY(-10px);
}

.rankboard{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;  

   


}


.rankboard h2{
font-size: 6rem;
padding: 30px;

}
.rankboard h3{
font-size: 5rem;
text-align: center;
margin-bottom: 20px;
}

.owl-carousel{
width: 95%;
margin: 0 auto;
margin-bottom: 40px;
 
}

.owl-item{
 text-align: center;
 margin-bottom: 20px;
 
}

.owl-item .bookName{
font-size: 3rem;
text-align: left;
margin-bottom: 5px;
}
.owl-item .author {
font-size: 2rem;
text-align: left;
}

.owl-item picture {
 width: 95%;
 height: 260px;
 display: inline-block;
 border: 3px solid rgb(141, 111, 36);
padding: 30px;
box-sizing: border-box;
margin-bottom: 10px;
border-radius: 3px;
}
.owl-carousel .owl-item img{
    /* height: 240px; */
}

.owl-nav .owl-next {
    position: absolute;
    right: -19px; /* 根據需求調整距離 */
    top: 30%; /* 垂直居中 */

    border-radius: 50%; /* 圓形按鈕 */
    width: 40px;
    height: 40px;
    font-size: 25px !important; /* 按鈕大小 */
  }
  .owl-nav .owl-prev {
    position: absolute;
    left: -19px; /* 根據需求調整距離 */
    top: 30%; /* 垂直居中 */
    border-radius: 50%; /* 圓形按鈕 */
    width: 40px;
    height: 40px;

    font-size: 25px !important; /* 按鈕大小 */
  }

  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    background-color: #9f9e9e;
  }

  .owl-dots{
    display: none;
  }
/* --------------board-active-------- */

.rankboard{
    display: none;
}
#chinese-rankboard{
    display: block;
}
#chinese-rankboard .active{
    display: block;
}
#english-rankboard .active{
    display: block;
}

#children-rankboard .active{
    display: block;
}

/* --------------------------- */

.horizontal-section-wrapper{
    width: 200vw;
}

.horizontal-section{

    width: 200vw;
    display: flex;
}

.horizontal-item {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
    width: 100%;
    height: 1000px;
    background-color: rgb(74, 73, 73);
    border: 1px solid white;
  
  }

/* -----------------star------------- */

.Universe{
width: 100%;
height: 1000px;
background-color:rgb(32, 31, 31);

overflow: hidden;

}
/* --------------------------- */

.main {
    display: flex;

    justify-content: space-around;
    padding-bottom: 50px;

}


.main div{

   
    background-color: #f9f2e5;
    border-radius: 20px;
    text-align: center;
  
}

.main div a{
    width: 300px;
    height: 300px;
    text-decoration: none;
    color: #190202;
    font-size: 1.8rem;
    line-height: 100px;
    text-align: center;
    display: block;

}