@import url(../css/reset.css);


html{
    font-size: 62.5%;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f7f3;

}
.wrapper{
    width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50px 200px 1fr 1fr 50px ;
    grid-template-rows:50px 100px  auto;
    margin-top: 100px;
   
}

.header{
    height: 100px;
    background-color: #f2e6d9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1000;

}
.header_content{
    width: 1100px;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: 
    "logo search login trolley "
    "logo keywords login trolley ";
    /* row不用寫，上面area直接寫兩行就變2row */
    align-items: center;

}

.header a{
    grid-area: logo;
}
.header img{

    width: 170px;
}
.header_search{
    grid-area: search;
    display: flex;
    align-self: self-end;
}
.header_search input[type="text"] {
    width: 90%;
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .search_Btn{
    width: 39px;
    height: 39px;
    background-image: url(../img/search.png);
    background-position: 0 5px;
    background-size:contain;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-sizing: border-box;
    background-color: #cc6666;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    
}

.header_keywords{
grid-area: keywords;
font-size: 1.3rem;
}
.header_keywords ul{
    align-self: flex-start;
    display: flex;
    flex-direction: row;

}
.header_keywords ul li{
    margin-right: 20px;

}
.header_keywords ul li a{
    text-decoration: none;
    color: #694a3a;
    transition: color 0.3s, text-shadow 0.3s;
}
.header_keywords ul li a:hover{
    color: #cc6666;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration-line: underline;
}

.header_login {
    grid-area: login;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "login_a1 signup"
        "member member";
    column-gap: 5px;
    row-gap: 10px;
    font-size: 1.5rem;
    padding: 20px;
}

.header_login a {
    text-decoration: none;
    color: #694a3a;
}

.header_login a:nth-child(1) {
    grid-area: login_a1;
}

.header_login a:nth-child(1)::after {
    content: " ";
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #4d4d4d;
    margin-left: 3px;
    vertical-align: middle;
}

.header_login a:nth-child(2) {
    grid-area: signup;
}

.header_login a:nth-child(3) {
    grid-area: member;
}
.header_trolley{
    grid-area: trolley;
    font-size: 1.7rem;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_trolley i{
position: relative;
font-size: 3rem;
}
.header_trolley i .count{
    position: absolute;
    top: -15px;
    right: -9px;
    background-color: #cc6666;
    font-size: 2rem;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    text-align: center;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transform: rotate(8deg);
    transition: 3s;
    color: #f5f5f5;
}
.header_trolley i .count span{
    font-size: 1rem;

}

.header_trolley a {
    text-decoration: none;
    color: #694a3a; 
    transition: text-shadow 0.3s;
    align-items: center;
}

.header_trolley a:hover {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.banner {
    width: 100%;
    height: 300px;
    background-color: #f8f4ef; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
}

.selector{
    grid-column: 3/5;
    grid-row: 2/3   ;
  
}
.selector ul{
    background-color: #f8f5f2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 10px;
    justify-items: center;
    border-radius: 10px;

}
.selector ul li{
    width: 150px;
    line-height: 50px;
    border-radius: 10px;
    background-color: #e6d4c0;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    font-size: 1.7rem;
}
.selector ul li a{
   text-decoration: none;
   color: #333333;
   display: block;
}

.left_selector{
    background-color: #f8f5f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 600px;
    grid-row: 2/4;
    grid-column: 2/3;
    margin: 0 auto;
    position: sticky;
    top: 150px;
    border: 1px solid #d2b48c;
    border-radius: 10px;
    
}
.left_selector ul{
    margin: 30px auto;
    width: 150px; 
    padding: 0 10px;
    box-sizing: border-box;

}

.left_selector ul li{
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
  /* border-bottom: 1px solid #ccc; */
  background-color: #e6d4c0;
  margin-bottom: 15px;
  border-radius: 10px;
}

.left_selector ul li a{
    text-decoration: none;
    color: #333333;
    display: block;
    
}

.left_selector ul li a:hover,
.selector ul li a:hover {
    color: #ffffff;
    background-color: #cc6666; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.main{
grid-row: 3/5;
grid-column: 3/5;
}
.main h2{
    font-size: 2.5rem;
    color: #333333;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 25px;

}

.main ul{
    width:100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    column-gap: 20px;
    justify-content: start; 
    margin-bottom: 40px;
  

}

.main ul li{
    width: 200px;
    height: 300px;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
   
}
.boximg{
    width: 100%;
    height: auto;  
  
}

.box_img img{
    /* width: 100%; */
    height: 180px;
    margin-bottom: 10px;  
    border-radius: 5px;
  
}

.boxDetail{

}

.boxDetail h3{
    margin-bottom: 5px;
}

.boxDetail h3 a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;

    
}
.boxDetail .author{
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.boxDetail .author a{
    color: rgb(80, 168, 240);
    text-decoration: none;
}

 .pricebox{
display: flex;
flex-direction: row;
justify-content: space-between;
font-size: 1.5rem;
}

.pricebox b{

    color: #f95344;
    margin-right: 5px;
    font-size: 2rem;
    line-height: 30px;
}

.pricebox .buyBtn{
    width: 100px;
    background-color: #cc6666;
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: 1px 1px #ccc;
    text-align: center;
    line-height: 30px;
    color: #ffffff  ;
}
.pricebox .buyBtn:hover{
    background-color: #ff7043;
    cursor: pointer; /*改變游標樣式*/
}
/* ------Harry Potter------------ */
.HarryPotter{
display: flex;
align-items: center;
margin: 30px 0 70px;
position: relative;
}
.Harry-left{
    position: relative;
    z-index: 2;
    transform: translateX(15px);
    perspective: 1500px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

.Harry-right{
    position: relative;
    z-index: 1;
}


.HarryPotter img{
width: 100%;
display: block;

}

.HarryPotter p{

    background: #fdfcf0; 
    padding: 30px 70px;
    font-size: 2rem;
    line-height: 1.8;
    font-family: 'Georgia', serif; 
    color: #694a3a; 
    text-align: justify;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 
                -5px -5px 15px rgba(255, 255, 255, 0.5); 
    margin: 20px auto;
    max-width: 800px; 
    transform: translate(-15px,45px)


}

.Dobi{
    position: absolute;
    width: 300px !important;
    right: -143px;
    bottom: -40px;
    z-index: 100;

}

.cloud{
    position: absolute;
    width: 500px;
    right: -97px;
    bottom: 30px;
    /* display: none; */

    
}

.chat{
    position: absolute;
    top: 36%;
    left: 40%;
    font-size: 1.5rem !important;
    width: 104px;
    line-height: 1.7;
    text-align: center;

   
   
}



/* ----------------------------- */


.childrenbook {
position: relative;



}

.cat{
width: 350px;
position: absolute;
bottom: -170px;
left: -215px;
}
.ball{
    position: absolute;
    width: 70px;
    bottom: -62px;
    left: -28px;
   
}

.plant{
    width: 350px;
    position: absolute;
    bottom: -90px;
    right:-182px;
    }


.cat:hover{
    transform: rotate(-20deg);
    transition: 0.5s;
}
.plant:hover{
    transform: rotate(15deg);
    transition: 0.2s;
}




/* .ball:hover{

    animation: ball 3s 2 ease-out backwards;
} */

/* @keyframes ball {
    0% {
        left: -28px;
        transform: rotate(0);
    }
    100% {
     left: 200px;
     transform: rotate(360deg);
    }
  } */


/* ------------------------------------ */

.owl-item{
    width: 200px;
    height: auto;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    box-shadow: 3px 3px #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.owl-item picture img{
    height: 240px;
}
.owl-nav .owl-next {
    position: absolute;
    right: -50px; /* 根據需求調整距離 */
    top: 36%; /* 垂直居中 */
    background: #ccc; /* 按鈕背景顏色 */
    border-radius: 50%; /* 圓形按鈕 */
    width: 40px;
    height: 40px;
    font-size: 25px !important; /* 按鈕大小 */
  }
  .owl-nav .owl-prev {
    position: absolute;
    left: -50px; /* 根據需求調整距離 */
    top: 36%; /* 垂直居中 */
    background: #ccc; /* 按鈕背景顏色 */
    border-radius: 50%; /* 圓形按鈕 */
    width: 40px;
    height: 40px;

    font-size: 25px !important; /* 按鈕大小 */
  }

  .owl-dots{
    display: none;
  }

  