<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nooklit - 書房</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Karla+Tamil+Inclined:wght@400;700&family=M+PLUS+Rounded+1c&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/bookshelf.css" />
    <link rel="stylesheet" href="../css/openbook.css">
  </head>
  <body>
    
    <div class="wrapper">
      <nav>
        <a href="../template/index.html" class="logo"><img src="../img/logo.png" /></a>
        <ul>
          <li><a href="#Universe">靈感角落</a></li>
          <li><a href="../template/shop.html">靈感補給</a></li>
          <li><a href="../template/test.html">我的書房</a></li>
        </ul>
      </nav>

      <div class="main_wrapper">
        <div class="left_nav">
          <div class="head_shot">
            <div class="photo"></div>
            <h1 class="Name">Name</h1>
          </div>
          <ul>
            <li><a href="../template/personal.html">個人設定</a></li>
            <li><a href="#">書籍總覽</a></li>
            <li><a href="#">相片集</a></li>
            <li><a href="#">使用教學</a></li>
            <li><a href="../template/shop.html">書店</a></li>
          </ul>
        </div>
        <div class="bookshelf">
        <ul class="layer">
        
        </ul>
          </div>
      
           <div class="bookframe">
            <!-- <div class="cover">
              <h1>The Bible</h1>
              <div class="photo-wrapper">
              <img src="../img/pegiun.jpeg" alt="">
            </div>
            <div class="SubTitle">
              hello I'm vincent
            </div>
            </div> -->

        </div>

        <div class="close">
          <button>
            close
          </button>
        </div>

        </div>

      </div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
      <script src="../js/turn.js"></script>
      <script src="../js/bookshelf.js"></script>



  </body>
</html>