<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="../css/buypage01.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="../js/jquery-3.7.1 copy.js"></script>
    <script src="../js/buypage01.js"></script>
    <script src="../js/shop.js"></script>

// books[0].bookTitle
    </script>
  </head>
  <body>
    <div class="header">
      <div class="header_content">
        <a href="../template/index.html">
          <img src="../img/logo.png" alt="LOGO" />
        </a>
      <div class="header_search">
      <input type="text" class="search" placeholder="搜尋" />
      <input type="submit" class="search_Btn" value="" />
    </div>
    <div class="header_keywords">
      <ul>
      <li><a href="#">韓江</a></li>
      <li><a href="#">張忠謀</a></li>
      <li><a href="#">屁屁偵探11</a></li>
      <li><a href="#">黃仁勳</a></li>
      <li><a href="#">聖誕禮物</a></li>
      </ul>
    </div>
    <div class="header_login">
      <a href="#">登入</a>
      <a href="#">註冊</a>
        <a href="#">會員中心</a>
    </div>
    <div class="header_trolley">
      <i class="fa-solid fa-cart-shopping"></i>
      <a href="../template/buypage2.html">購物車</a>
    </div>
    </div>
  </div>
    <div class="wrapper">
        <!-- <div class="leftpart">
            <img src="../img/book.jpg" alt="">
            <a href="#">試閱</a>
        </div>
        <div class="rightpart">
            <div class="rightpart_detail">
                <h1>素食者</h1>
                <h4>채식주의자</h4>
                <div class="rightpart_detail_author">
                    <span>作者</span>
                    <a href="#">韓江</a>
                </div>
                <div class="rightpart_detail_translator">
                    <span>譯者</span>
                    <a href="#">胡椒筒</a>
                </div>
                <div class="rightpart_detail_publisher">
                    <span>出版社</span>
                    <a href="#">漫遊者文化事業股份有限公司</a>
                </div>
                <div class="rightpart_detail_publisher">
                    <span>出版日期</span>
                    <span>2023/05/08</span>
                </div>
            </div>
            <div class="rightpart_amount">
              <span>數量</span>
               <div class="rightpart_amount_count">
                <button id="increase">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <input type="number" value="1" min="1" max="5">
                <button id="decrease">
                    <i class="fa-solid fa-minus"></i>
                </button>
               </div>
            </div>
            <div class="rightpart_price">
                <span>$</span>
                <span>300</span>
            </div>
            <div class="rightpart_buy">
                <button>
                    <span>收藏</span>
                </button>
                <button>
                    <span>加入購物車</span>
                </button>
                <button>
                    <span>直接購買</span>
                </button>
            </div>
        </div> -->

      </div>
      



    
  </body>
</html>
