<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="../css/buypage2.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="../js/jquery-3.7.1 copy.js"></script>
    <script src="../js/buypage2.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="header_content">
        <a href="../template/index.html">
      <img src="../img/logo.png" alt="LOGO" />
    </a>
<div class="progress_bar">
    <ul>
        <li>1</li>
        <li class="step-line"></li>
        <li>2</li>
        <li class="step-line"></li>
        <li>3</li>
    </ul>
</div>
<div class="progress">
    <ul>
        <li>購物車</li>
        <li>選擇配送與付款資訊</li>
        <li>完成訂單</li>
    </ul>
</div>


    </div>
  </div>
    <div class="wrapper">
        <div class="top">
            <span>一般訂單</span>
            <span>優惠價</span>
            <span>數量</span>
            <span>總計</span>
        </div>
        <div class="second">
            <span> 一般訂單若超商取貨未滿$350/宅配未滿$1,000，運費$50</span>
        </div>
        <div class="main">
            <div class="main_above">
            <img src="../img/temple.jpg" alt="">
            <div class="main_detail">
                <h1>金閣寺</h1>
                <div class="promotion">
                <span >滿件優惠</span>
                <a>【閱讀需要儀式感】大雁X漫遊者文化精選2書75折</a>
                </div>
                <div class="theme">
                    <span>主題活動</span>
                    <a>中文書限時滿1111現折111(部分類別除外)</a>
                </div>
            </div>
            <div class="price">
                <span>300</span>
            </div>
            <div class="amount">
                 <div class="amount_count">
                  <button id="increase">
                      <i class="fa-solid fa-plus"></i>
                  </button>
                  <input type="number" value="1" min="1" max="5">
                  <button id="decrease">
                      <i class="fa-solid fa-minus"></i>
                  </button>
                 </div>
              </div>
              <div class="total">
                <span>300</span>
              </div>
              <div class="delete">
                <span>刪除商品</span>
                <span>移至收藏</span>
              </div>
            </div>
            <div class="main_below">
              <div class="items_total">
                <span>商品小計</span>
            </div>
            <div class="items_total_price">
                <span>300</span>
            </div>
            </div>
            </div>
            <div class="checkout">
                        <div class="checkout_Btn_left">
                            <span>商品總金額</span>
                            <span>300</span>
                        </div>
                        <button><a href="../template/buypage3.html">結帳</a></button>
                    </div>               
            </div>
        </div>



    
  </body>
</html>
