<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首頁</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Karla+Tamil+Inclined:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Karla+Tamil+Inclined:wght@400;700&family=M+PLUS+Rounded+1c&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
/>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
/>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
/>
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="../css/star.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="nav">
    <ul>
      <li><a href="#Universe">靈感角落</a></li>
      <li><a href="../template/shop.html">靈感補給</a></li>
      <li><a href="../template/test.html">我的書房</a></li>
    </ul>
  </div>

  <div class="wrapper">

  

  <div id="top">

    <div id="Title">
      <h1>Nooklit</h1>
      <h3>故事裡的每一個細節，連結著遙遠的星辰，
        <br>
        角落成了宇宙的入口</h3>
       </div>
       <img src="../img/ink.png" alt="">
  </div>
  <div class="area1">
    <div class="corner"></div>
    <h1>當月精選</h1>
  </div>
  <div id="page1">
    <img src="../img/white.jpg" alt="" class="white">
   <h2>
        <span class="hidden-text">來</span>
        <span class="hidden-text">自</span>
        <span class="hidden-text">韓</span>
        <span class="hidden-text">國</span>
        <span class="hidden-text">諾</span>
        <span class="hidden-text">貝</span>
        <span class="hidden-text">爾</span>
        <span class="hidden-text">文</span>
        <span class="hidden-text">學</span>
        <span class="hidden-text">獎</span>
        <br>
        <span class="hidden-text">韓</span>
        <span class="hidden-text">江</span>
        <span class="hidden-text">的</span>
        <span class="hidden-text">筆</span>
        <span class="hidden-text">觸</span>
        <span class="hidden-text">，</span>
        <br>
        <span class="hidden-text">穿</span>
        <span class="hidden-text">越</span>
        <span class="hidden-text">白</span>
        <span class="hidden-text">的</span>
        <span class="hidden-text">旅</span>
        <span class="hidden-text">程</span>
     </h2>
    <img src="../img/pen03.png" alt="" class="pen_1">
    <h3>「 白，是一切的開始，也是結束。」</h3>
    
  </div>
<div id="page2">
  <h2>
    <span class="hidden-text">跟</span>
    <span class="hidden-text">著</span>
    <span class="hidden-text">十</span>
    <span class="hidden-text">五</span>
    <span class="hidden-text">歲</span>
    <span class="hidden-text">少</span>
    <span class="hidden-text">年</span>
    <span class="hidden-text">田</span>
    <span class="hidden-text">村</span>
    <span class="hidden-text">卡</span>
    <span class="hidden-text">夫</span>
    <span class="hidden-text">卡</span>
    <span class="hidden-text">的</span>
    <span class="hidden-text">腳</span>
    <span class="hidden-text">步</span>
    <span class="hidden-text">，</span>
    <br>
    <span class="hidden-text">穿</span>
    <span class="hidden-text">越</span>
    <span class="hidden-text">現</span>
    <span class="hidden-text">實</span>
    <span class="hidden-text">與</span>
    <span class="hidden-text">夢</span>
    <span class="hidden-text">的</span>
    <span class="hidden-text">邊</span>
    <span class="hidden-text">界</span>

 </h2>
    <img src="../img/beach.jpg" alt=""  class="KAFKA">
    <img src="../img/pen03.png" alt="" class="pen_2">
    <h3>「 村上春樹第十部長篇小說 」</h3>

  </div>

  <div id="page3">
    <img src="../img/hundred.jpg" alt=""  class="temple">
    <h2>諾貝爾文學獎大師最膾炙人口的代表作！</h2>
    <img src="../img/pen03.png" alt="" class="pen_3">
    <h3>「 因為遭詛咒百年孤寂的家族 <br> 在世界上不會有再來一次的機會……」</h3>
    
  </div>

</div>
<div class="area2">
  <div class="corner"></div>
  <h1>暢銷書排行榜</h1>
</div>
<div class="rank">
  <div class="rankType">
   <ul>
    <li><button id="chinese-button">中文書榜</button></li>
    <li><button id="english-button">外文書榜</button></li>
    <li><button id="children-button">青少年/兒童書榜</button></li>
   </ul>
  </div>
  <div class="rankboard" id="chinese-rankboard">
    <h2>中文書榜</h2>
    <h3>新書TOP10</h3>
    <div class="owl-carousel owl-theme">
      
      <div class="item">  
        <div class="box_img">
          <picture><img src="../img/harry1.webp" alt="" /></picture>
      </div>
      <div class="boxDetail">
        <div class="bookName">Harry</div>
        <div class="author">J.K. 羅琳</div>
        
      </div>
    </div>
    <div class="item">  
      <div class="box_img">
        <picture><img src="../img/harry2.jpg" alt="" /></picture>
    </div>
    <div class="boxDetail">
      <div class="bookName">Harry</div>
      <div class="author">J.K. 羅琳</div>
      
    </div>
  </div>
  <div class="item">  
    <div class="box_img">
      <picture><img src="../img/harry3.jpg" alt="" /></picture>
  </div>
  <div class="boxDetail">
    <div class="bookName">Harry</div>
    <div class="author">J.K. 羅琳</div>
    
  </div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry4.webp" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry6.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry7.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry2.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>



  


    
      </div>

    <h3>本月排行TOP20</h3>

    <div class="owl-carousel owl-theme">
      
      <div class="item">  
        <div class="box_img">
          <picture><img src="../img/harry1.webp" alt="" /></picture>
      </div>
      <div class="boxDetail">
        <div class="bookName">Harry</div>
        <div class="author">J.K. 羅琳</div>
        
      </div>
    </div>
    <div class="item">  
      <div class="box_img">
        <picture><img src="../img/harry2.jpg" alt="" /></picture>
    </div>
    <div class="boxDetail">
      <div class="bookName">Harry</div>
      <div class="author">J.K. 羅琳</div>
      
    </div>
  </div>
  <div class="item">  
    <div class="box_img">
      <picture><img src="../img/harry3.jpg" alt="" /></picture>
  </div>
  <div class="boxDetail">
    <div class="bookName">Harry</div>
    <div class="author">J.K. 羅琳</div>
    
  </div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry4.webp" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry6.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry7.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry2.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
</div>
<h3>本月排行TOP20</h3>

<div class="owl-carousel owl-theme">
  
  <div class="item">  
    <div class="box_img">
      <picture><img src="../img/harry1.webp" alt="" /></picture>
  </div>
  <div class="boxDetail">
    <div class="bookName">Harry</div>
    <div class="author">J.K. 羅琳</div>
    
  </div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry2.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry4.webp" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry6.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry7.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry2.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
</div>

  


</div>
<div class="rankboard" id="english-rankboard">
  <h2>外文書榜</h2>
  <h3>新書TOP10</h3>
  <div class="owl-carousel owl-theme">
    
    <div class="item">  
      <div class="box_img">
        <picture><img src="../img/harry1.webp" alt="" /></picture>
    </div>
    <div class="boxDetail">
      <div class="bookName">Harry</div>
      <div class="author">J.K. 羅琳</div>
      
    </div>
  </div>
  <div class="item">  
    <div class="box_img">
      <picture><img src="../img/harry2.jpg" alt="" /></picture>
  </div>
  <div class="boxDetail">
    <div class="bookName">Harry</div>
    <div class="author">J.K. 羅琳</div>
    
  </div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry4.webp" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry6.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry7.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry2.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>






  
    </div>

  <h3>本月排行TOP20</h3>

  <div class="owl-carousel owl-theme">
    
    <div class="item">  
      <div class="box_img">
        <picture><img src="../img/harry1.webp" alt="" /></picture>
    </div>
    <div class="boxDetail">
      <div class="bookName">Harry</div>
      <div class="author">J.K. 羅琳</div>
      
    </div>
  </div>
  <div class="item">  
    <div class="box_img">
      <picture><img src="../img/harry2.jpg" alt="" /></picture>
  </div>
  <div class="boxDetail">
    <div class="bookName">Harry</div>
    <div class="author">J.K. 羅琳</div>
    
  </div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry4.webp" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry6.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry7.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry2.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
</div>
<h3>本月排行TOP20</h3>

<div class="owl-carousel owl-theme">

<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry1.webp" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry2.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry4.webp" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry6.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry7.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry2.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
</div>




</div>
<div class="rankboard" id="children-rankboard">
  <h2>兒童書榜</h2>
  <h3>新書TOP10</h3>
  <div class="owl-carousel owl-theme">
    
    <div class="item">  
      <div class="box_img">
        <picture><img src="../img/harry1.webp" alt="" /></picture>
    </div>
    <div class="boxDetail">
      <div class="bookName">Harry</div>
      <div class="author">J.K. 羅琳</div>
      
    </div>
  </div>
  <div class="item">  
    <div class="box_img">
      <picture><img src="../img/harry2.jpg" alt="" /></picture>
  </div>
  <div class="boxDetail">
    <div class="bookName">Harry</div>
    <div class="author">J.K. 羅琳</div>
    
  </div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry4.webp" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry6.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry7.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry2.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>






  
    </div>

  <h3>本月排行TOP20</h3>

  <div class="owl-carousel owl-theme">
    
    <div class="item">  
      <div class="box_img">
        <picture><img src="../img/harry1.webp" alt="" /></picture>
    </div>
    <div class="boxDetail">
      <div class="bookName">Harry</div>
      <div class="author">J.K. 羅琳</div>
      
    </div>
  </div>
  <div class="item">  
    <div class="box_img">
      <picture><img src="../img/harry2.jpg" alt="" /></picture>
  </div>
  <div class="boxDetail">
    <div class="bookName">Harry</div>
    <div class="author">J.K. 羅琳</div>
    
  </div>
</div>
<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry4.webp" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry6.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry7.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry2.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
</div>
<h3>本月排行TOP20</h3>

<div class="owl-carousel owl-theme">

<div class="item">  
  <div class="box_img">
    <picture><img src="../img/harry1.webp" alt="" /></picture>
</div>
<div class="boxDetail">
  <div class="bookName">Harry</div>
  <div class="author">J.K. 羅琳</div>
  
</div>
</div>
<div class="item">  
<div class="box_img">
  <picture><img src="../img/harry2.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry4.webp" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry6.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry7.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry2.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry3.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>

</div>
</div>
<div class="item">  
<div class="box_img">
<picture><img src="../img/harry5.jpg" alt="" /></picture>
</div>
<div class="boxDetail">
<div class="bookName">Harry</div>
<div class="author">J.K. 羅琳</div>
</div>
</div>
</div>
</div>
  </div>

<div class="horizontal-section-wrapper">
  <div class="horizontal-section">
    <div class="horizontal-item">
       
    </div>
   <div class="horizontal-item">
    <img src="../img/jet.png" alt=""  style="transform: scaleX(-1);">
    </div>
    <div class="horizontal-item">
   
    </div>
</div>
</div>
<div class="Universe" id="Universe">
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <!-- <div id='title'>
    <span></span>
    <br>
    <span></span>
  </div> -->
</div>
  <!-- <div class="main">

      <div><a href="#">靈感角落</a></div>
      <div><a href="../template/shop.html">書籍補給</a></div>
      <div><a href="../template/test.html">我的書房</a></div>
</div>  -->

</div>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
></script>
<!-- jquery要在owl前面 ----------->
<script
src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
></script>
<script>
$('.owl-carousel').owlCarousel({
  loop: true, // 是否循環播放
  margin: 10, // 每個項目之間的間距
  nav: true, // 是否顯示導航按鈕
  responsive: {
    0: {
      items: 1, //螢幕寬度在 0px 以上時顯示 1 個項目
    },
    600: {
      items: 3, // 螢幕寬度在 600px 以上時顯示 3 個項目
    },
    1000: {
      items: 5, // 螢幕寬度在 1000px 以上時顯示 4 個項目
    },
  },
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

  <script src="../js/jquery-3.7.1 copy.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <script src="../js/home.js"></script>
</body>
</html>