<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="../css/shop.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    
  </head>
  <body>
    <div class="header_820">
      <div class="header_main">
        <div class="header_top">
          <i class="fa-solid fa-bars"></i>
          <a href="../template/home.html">
            <img src="../img/logo.png" alt="LOGO" />
          </a>
          <div class="profile">
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
        </div>
        <div class="header_search">
          <input type="text" class="search" placeholder="搜尋" />
          <input type="submit" class="search_Btn" value="" />
        </div>

      </div>
      <div class="hamlist">
        <ul>
          <li><a href=".main">中文出版</a></li>
          <li><a href="#en-publish">英文出版</a></li>
          <li><a href="#childrenbook">兒童讀物</a></li>
  
        </ul>
      </div>
      </div>




    <div class="header">
      <div class="header_content">
        <a href="../template/home.html">
          <img src="../img/logo.png" alt="LOGO" />
        </a>
      <div class="header_search">
      <input type="text" class="search" placeholder="搜尋" />
      <input type="submit" class="search_Btn" value="" />
    </div>
    <div class="header_keywords">
      <ul>
      <li><a href="#">韓江</a></li>
      <li><a href="#">張忠謀</a></li>
      <li><a href="#">屁屁偵探11</a></li>
      <li><a href="#">黃仁勳</a></li>
      <li><a href="#">聖誕禮物</a></li>
      </ul>
    </div>
    <div class="header_login">
      <a href="./login.html">登入</a>
      <a href="./register.html">註冊</a>
        <a href="./login.html">會員中心</a>
    </div>
    <div class="header_trolley">
      <a href="../template/buypage2.html">
      <i class="fa-solid fa-cart-shopping">
        <div class="count">
          <span></span>
        </div>
      </i>
          <span>購物車</span>
      </a>
    </div>
    </div>
  </div>
    <div class="wrapper">
      <div class="left_selector">
        <ul>
          <!-- <li><a href="#">本月TOP 20</a></li> -->
          <li><a href=".main">中文出版</a></li>
          <li><a href="#en-publish">英文出版</a></li>
          <li><a href="#childrenbook">兒童讀物</a></li>
        </ul>
      </div>
      <div class="selector">
        <ul>
          <li><a href="#">新書上架</a></li>
          <li><a href="#">預購書</a></li>
          <li><a href="#">排行榜</a></li>
          <li><a href="#">每月出版</a></li>
          <li><a href="#">展期特惠</a></li>
        </ul>
      </div>
      <div class="main">
        <h2>中文出版</h2>
        <div class="main_search">
        <ul>
          <!-- <li>
            <div class="box_img">
              <a href="#"
                ><picture><img src="./book.jpg" alt="" /></picture
              ></a>
            </div>
            <div class="boxDetail">
              <h3><a href="#">素食者【亞洲首部榮獲國際曼布克獎作品】</a></h3>
              <div class="author"><a href="#">韓江 </a> 著</div>
              <div class="pricebox">
                <span><b>300</b>元</span>
                <div class="buyBtn"><span>加入購物車</span></div>
              </div>
            </div>
          </li> -->
        </ul>
      </div>
        <h2 style="text-align: center; font-size: 3rem;">哈利・波特20週年紀念</h2>

      <div class="HarryPotter">
        <div class="Harry-left">
      <img src="../img/harry_post.webp" alt="">
        </div>
      <div class="Harry-right">
        <p>
          男孩活下來了，
          我們世界中的每一個孩子
          都將會知道他的名字！
        
          <br>
          <br>
          <br>
 
          一生必讀不只一次的奇幻文學經典
          繁體中文版20週年紀念
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          全球銷量突破5億部
          繁體中文版熱賣超過640萬部
          改編拍成8部電影，票房逾77億美元
          翻譯成80種以上語言版本
        </p>
        <img src="../img/Dobi.svg" alt="" class="Dobi">
        <div class="cloud">
          <img src="../img/cloud.png" alt="" class="cloud-img">
          <span class="chat">多比不能眼睜睜看著主人錯過這些珍貴的書籍！</span>
        </div>
     
        </div>

      </div>
    <h2>哈利波特1-7【繁體中文版20週年紀念】</h2>
        
        <div class="owl-carousel owl-theme">

          <div class="item">  <div class="box_img">
            <a href="#"
              ><picture><img src="../img/harry1-7.webp" alt="" /></picture
            ></a>
          </div>
          <div class="boxDetail">
            <h3><a href="#">哈利波特1-7 （7冊合售）</a></h3>
            <div class="author"><a href="#">J.K. 羅琳 </a> 著</div>
            <div class="pricebox">
              <span><b>3290</b>元</span>
              <div class="buyBtn"><span>加入購物車</span></div>
            </div>
          </div></div>
          
          <div class="item">  <div class="box_img">
            <a href="#"
              ><picture><img src="../img/harry1.webp" alt="" /></picture
            ></a>
          </div>
          <div class="boxDetail">
            <h3><a href="#">哈利波特 1: 神秘的魔法石</a></h3>
            <div class="author"><a href="#">J.K. 羅琳 </a> 著</div>
            <div class="pricebox">
              <span><b>300</b>元</span>
              <div class="buyBtn"><span>加入購物車</span></div>
            </div>
          </div></div>

          <div class="item">  <div class="box_img">
            <a href="#"
              ><picture><img src="../img/harry2.jpg" alt="" /></picture
            ></a>
          </div>
          <div class="boxDetail">
            <h3><a href="#">哈利波特2: 消失的密室</a></h3>
            <div class="author"><a href="#">J.K. 羅琳 </a> 著</div>
            <div class="pricebox">
              <span><b>300</b>元</span>
              <div class="buyBtn"><span>加入購物車</span></div>
            </div>
          </div></div>
          <div class="item">  <div class="box_img">
            <a href="#"
              ><picture><img src="../img/harry3.jpg" alt="" /></picture
            ></a>
          </div>
          <div class="boxDetail">
            <h3><a href="#">哈利波特3: 阿茲卡班的逃犯</a></h3>
            <div class="author"><a href="#">J.K. 羅琳 </a> 著</div>
            <div class="pricebox">
              <span><b>300</b>元</span>
              <div class="buyBtn"><span>加入購物車</span></div>
            </div>
          </div></div>
          <div class="item">  <div class="box_img">
            <a href="#"
              ><picture><img src="../img/harry4.webp" alt="" /></picture
            ></a>
          </div>
          <div class="boxDetail">
            <h3><a href="#">哈利波特4: 火盃的考驗</a></h3>
            <div class="author"><a href="#">J.K. 羅琳 </a> 著</div>
            <div class="pricebox">
              <span><b>300</b>元</span>
              <div class="buyBtn"><span>加入購物車</span></div>
            </div>
          </div></div>
          <div class="item">  <div class="box_img">
            <a href="#"
              ><picture><img src="../img/harry5.jpg" alt="" /></picture
            ></a>
          </div>
          <div class="boxDetail">
            <h3><a href="#">哈利波特5: 鳳凰會的密令</a></h3>
            <div class="author"><a href="#">J.K. 羅琳 </a> 著</div>
            <div class="pricebox">
              <span><b>300</b>元</span>
              <div class="buyBtn"><span>加入購物車</span></div>
            </div>
          </div></div>
          <div class="item">  <div class="box_img">
            <a href="#"
              ><picture><img src="../img/harry6.jpg" alt="" /></picture
            ></a>
          </div>
          <div class="boxDetail">
            <h3><a href="#">哈利波特6: 混血王子的背叛</a></h3>
            <div class="author"><a href="#">J.K. 羅琳 </a> 著</div>
            <div class="pricebox">
              <span><b>300</b>元</span>
              <div class="buyBtn"><span>加入購物車</span></div>
            </div>
          </div></div>
          <div class="item">  <div class="box_img">
            <a href="#"
              ><picture><img src="../img/harry7.jpg" alt="" /></picture
            ></a>
          </div>
          <div class="boxDetail">
            <h3><a href="#">哈利波特7: 死神的聖物</a></h3>
            <div class="author"><a href="#">J.K. 羅琳 </a> 著</div>
            <div class="pricebox">
              <span><b>300</b>元</span>
              <div class="buyBtn"><span>加入購物車</span></div>
            </div>
          </div></div>

        
          </div>

          <h2 id="en-publish">英文出版</h2>

          <div class="englishbook">
            <ul>
              <!-- <li>
                <div class="box_img">
                  <a href="#"
                    ><picture><img src="../img/book.jpg" alt="" /></picture
                  ></a>
                </div>
                <div class="boxDetail">
                  <h3><a href="#">素食者【亞洲首部榮獲國際曼布克獎作品】</a></h3>
                  <div class="author"><a href="#">韓江 </a> 著</div>
                  <div class="pricebox">
                    <span><b>300</b>元</span>
                    <div class="buyBtn"><span>加入購物車</span></div>
                  </div>
                </div>
              </li> -->
            </ul>
            
    
          </div>




          <h2 id="childrenbook">英文兒童繪本</h2>

          <div class="childrenbook">
            <ul>
              <!-- <li>
                <div class="box_img">
                  <a href="#"
                    ><picture><img src="../img/book.jpg" alt="" /></picture
                  ></a>
                </div>
                <div class="boxDetail">
                  <h3><a href="#">素食者【亞洲首部榮獲國際曼布克獎作品】</a></h3>
                  <div class="author"><a href="#">韓江 </a> 著</div>
                  <div class="pricebox">
                    <span><b>300</b>元</span>
                    <div class="buyBtn"><span>加入購物車</span></div>
                  </div>
                </div>
              </li> -->
            </ul>
        
            <img src="../img/cat.png" alt="" class="cat">
            <img src="../img/ball.png" alt="" class="ball">
            <img src="../img/plant.png" alt="" class="plant">
            
    
          </div>






          </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- jquery要在owl前面 ----------->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $('.owl-carousel').owlCarousel({
        loop: true, // 是否循環播放
        margin: 20, // 每個項目之間的間距
        nav: true, // 是否顯示導航按鈕
        responsive: {
        0: {
            items: 1, //螢幕寬度在 0px 以上時顯示 1 個項目
          },
          431: {
            items: 2, // 螢幕寬度在 600px 以上時顯示 3 個項目
          },
          
          1000: {
            items: 4, // 螢幕寬度在 1000px 以上時顯示 4 個項目
          },
        },
      });
    </script>
    <script src="../js/shop.js"></script>
    <script src="../js/jquery-ui.js"></script>
    <script src="../js/jquery-3.7.1 copy.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

  <script src="../js/jquery-3.7.1 copy.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  </body>
</html>
