<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nooklit - 書房</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Karla+Tamil+Inclined:wght@400;700&family=M+PLUS+Rounded+1c&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/study.css" />
  </head>
  <body>
    
    <div class="wrapper">
      <nav>
        <a href="../template/home.html" class="logo"><img src="../img/logo.png" /></a>
        <ul>
          <li><a href="#Universe">靈感角落</a></li>
          <li><a href="../template/shop.html">靈感補給</a></li>
          <li><a href="../template/test.html">我的書房</a></li>
        </ul>
      </nav>

      <div class="main_wrapper">
        <div class="left_nav">
          <div class="head_shot">
            <div class="photo"></div>
            <h1 class="Name">Name</h1>
          </div>
          <ul>
            <li><a href="../template/bookshelf.html">書籍總覽</a></li>
            <li><a href="../template/personal.html">個人設定</a></li>
            <li><a href="#">相片集</a></li>
            <li><a href="#">使用教學</a></li>
            <li><a href="../template/shop.html">書店</a></li>
          </ul>
        </div>
          <h1 class="demo-title"></h1>
        
        <div id="book" class="view-cover">
          <div class="main">
            <div class="book-font" id="open-book">
              <div class="book-cover  book-color  ">
                <!-- <span id="bookid">0</span> 這行是用來識別每本書用的代號 -->
                <h1 class="title"></h1>
                <div class="photoframe">
                <img src="../img/002.JPG" alt="" class="CoverImage">
              </div>
                <div class="publisher"></div>
              </div>
              <div class="book-cover-back  book-color">
              </div> <!--書封面內頁 -->
            </div>
            <div class="book-page">
              <div id="page-1" class="page">
               <textarea name="" id="diary-textarea" rows="20" cols="47" placeholder="寫下今天的心情"></textarea>

              </div>
            </div>
            <div class="book-back book-color">
              <div class="description">
                <p>“There is no eternal winter in the world; every effort paves the way for spring.”</p>
              </div>
              <div class="isbn"><img src="http://www.bluesdream.com/case/css3/3d-book-showcase/images/isbn.png"></div>
            </div>
            <div class="book-bone book-color">
              <h2>Nooklit</h2>
            </div>
            <div class="book-top"></div>
            <div class="book-right"></div>
            <div class="book-bottom"></div>
          </div>
        </div>
        <div class="function">
        <div id="opt">
          <dl>
            <dt>Console</dt>
            <dd id="StartNew">Start New</dd>
            <dd id="bookSave">Save</dd>
            <br>
            <dd id="view-cover" class="cur">View Cover</dd>
            <dd id="view-back">View Back</dd>
            <dd id="view-rotate">360° Showcase</dd>
          </dl>
        </div>
      </div>
    </div>
    </div>
    <script src="../js/jquery-3.7.1 copy.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/study.js"></script>


  </body>
</html>